/**/

:root {
  --opacity-0: 0;
  --opacity-10: 0.1;
  --opacity-20: 0.2;
  --opacity-30: 0.3;
  --opacity-40: 0.4;
  --opacity-50: 0.5;
  --opacity-60: 0.6;
  --opacity-70: 0.7;
  --opacity-80: 0.8;
  --opacity-90: 0.9;
  --opacity-100: 1;

  --dark-background: 13, 13, 13;
  --dark-forground: 60, 60, 60;
  --light-text: 170, 170, 170;
  --dark-special-color: 0, 108, 250;

  --light-background: 255, 255, 255;
  --light-forground: 110, 110, 110;
  --dark-text: 21, 21, 21;
  --light-special-color: 0, 108, 250;

  --light-color: 255, 255, 255;
  --dark-color: 0, 0, 0;

  /*  this variables is for defult theme on loading page  */
  --background-color: var(--dark-background);
  --forground-color: var(--dark-forground);
  --text-primary-color: var(--light-text);
  --text-secondry-color: var(--dark-text);
  --primary-color: var(--dark-color);
  --secondry-color: var(--light-color);
  --action-color: var(--dark-special-color);
}

* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

body.dark-mode {
  --background-color: var(--dark-background);
  --forground-color: var(--dark-forground);
  --text-primary-color: var(--light-text);
  --text-secondry-color: var(--dark-text);
  --primary-color: var(--dark-color);
  --secondry-color: var(--light-color);
  --action-color: var(--dark-special-color);
}

body.light-mode {
  --background-color: var(--light-background);
  --forground-color: var(--light-forground);
  --text-primary-color: var(--dark-text);
  --text-secondry-color: var(--light-text);
  --primary-color: var(--light-color);
  --secondry-color: var(--dark-color);
  --action-color: var(--light-special-color);
}

nav {
  color: rgb(var(--text-primary-color)) !important;
  background-color: rgb(var(--background-color)) !important;
}

nav .brand-logo,
nav a,
nav ul,
nav ul li,
nav ul li a {
  color: inherit !important;
}

nav .sidenav-trigger {
  margin: 0 6px;
}

nav .tabs {
  display: flex !important;
}

nav .tabs .tab {
  flex-grow: 1 !important;
}

.my-mobile-menu-cover {
  width: 100%;
  height: 100%;
  background: url(../src/grid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.my-mobile-menu-cover-shade {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.sidenav {
  background-color: rgb(var(--background-color)) !important;
}

.user-view {
  border-bottom: 1px solid black;
  box-shadow: 0 0 4px 1px black !important;
}

.sidenav .user-view img.circle {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.sidenav .user-view .switch {
  width: 64px;
  height: 64px;
  float: right;
}

.sidenav .user-view {
  padding: 1.5em 1.5em 0 !important;
}

.sidenav .user-view .name {
  font-size: 1.1em !important;
}

.sidenav .divider {
  background-color: rgb(var(--text-primary-color)) !important;
}

.sidenav li > a {
  color: rgb(var(--text-primary-color)) !important;
  font-size: 1em !important;
  height: 48px;
  line-height: 48px;
  padding: 0 1.5em !important;
}

.sidenav li > a > i,
.sidenav li > a > [class^="mdi-"],
.sidenav li > a li > a > [class*="mdi-"],
.sidenav li > a > i.material-icons {
  color: rgb(var(--text-primary-color)) !important;
  margin: 0 10px 0 0;
  font-size: 1em !important;
  width: 1em;
}

.nav-wrapper .switch label .lever {
  vertical-align: unset !important;
}

.sidenav .user-view span.name {
  display: block;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: rgba(100, 100, 100, 0.6);
}

.switch label .lever {
  background-color: rgba(200, 200, 200, 0.6);
}

.switch label .lever:after {
  background-color: #dadada;
  background-image: url(../src/sun.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #757575;
  background-image: url(../src/moon.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
  font-size: 1.8em !important;
}

.brand-logo {
  font-size: 1.5em !important;
}

.my-hero-section {
  width: 100%;
  height: 600px;
  background: url(../src/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.my-hero-section-shade {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

.my-hero-section-spacer {
  width: 100%;
  height: 200px;
  background: none;
}

.carousel-fixed-item a {
  color: rgb(var(--text-primary-color)) !important;
  background-color: rgb(var(--action-color)) !important;
}

.carousel-item.white-text {
  text-align: left !important;
  font-size: 1em;
}

.my-hero-section-text-wrapper {
  background: rgb(var(--dark-color));
  padding: 15px;
  max-width: 400px;
  border-radius: 1em;
  border: 1px solid rgb(var(--light-color));
  margin-bottom: 1em;
}

.my-hero-section-text-wrapper h1,
.my-hero-section-text-wrapper h1 span {
  margin: 0 !important;
  font-size: 1em !important;
}

.my-section {
  width: 100%;
  padding: 2.5em 0;
  background-color: rgb(var(--background-color)) !important;
  color: rgb(var(--text-primary-color)) !important;
}

.my-section h1 {
  font-size: 1.8em;
}

.my-section h2 {
  letter-spacing: 0.5em;
  font-size: 0.7em !important;
}

.my-section p {
  font-size: 0.8em;
  text-align: justify;
}

.my-skill-wrapper {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}

.my-skill-title-wrapper {
  padding: 10px 0;
  margin: 0 0 40px;
}

.my-skill-title-wrapper h3,
.my-skill-title-wrapper p {
  margin: 0;
  display: inline-block;
  font-size: 1em !important;
  line-height: 25px;
}

.progress {
  height: 6px;
  border-radius: 5px;
  background-color: #a6f3eb;
}

.progress .determinate {
  background-color: #208b81;
}

.parallax-container {
  height: 300px;
}

.page-footer {
  padding-top: 20px;
  color: rgb(var(--text-primary-color)) !important;
  background-color: rgb(var(--background-color)) !important;
}

.page-footer a {
  color: rgb(var(--text-primary-color)) !important;
}

.footer-copyright .container {
  text-align: center !important;
}

.footer-copyright span {
  color: rgb(var(--text-primary-color));
}

.my-footer-copyright-text {
  color: rgb(var(--action-color)) !important;
}

.my-certificate-container {
  display: inline-block;
  padding: 10px;
  border: 1px solid rgb(var(--text-primary-color)) !important;
  border-radius: 10px;
  background: rgb(var(--forground-color)) !important;
  margin: 10px;
}

.my-certificate-container a span {
  color: black !important;
}

.mt-certificate-wrapper {
  text-align: center;
}

/* `xs` applies to small devices (portrait phones, betwean 320px ~ 575px) */
@media only screen and (min-width: 0px) and (max-width: 576px) {
  body {
    font-size: 15px !important;
  }
}

/* `sm` applies to small devices (portrait phones, betwean 576px ~ 767px) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  body {
    font-size: 15px !important;
  }
}

/* `md` applies to medium devices (landscape phones, betwean 768px ~ 991px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  body {
    font-size: 16px !important;
  }
}

/* `lg` applies to medium devices (tablets, betwean 992px ~ 1199px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  body {
    font-size: 17px !important;
  }
  .container {
    width: 81% !important;
  }
}

/* `xl` applies to large devices (desktops, betwean 1200px ~ 1399px) */
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  body {
    font-size: 18px !important;
  }
}

/* `2xl` applies to large devices (large desktops, betwean 1400px ~ 2559px) */
@media only screen and (min-width: 1401px) and (max-width: 2560px) {
  body {
    font-size: 20px !important;
  }
}

/* `3xl` applies to xtra large devices (large desktops, higher than 2560px) */
@media only screen and (min-width: 2561px) {
  body {
    font-size: 22px !important;
  }
}
