/*------------------------------ Design by Parham Design in 2023 ------------------------------*/

/* start refrens style */

:root {
  --opacity_0: 0;
  --opacity_10: 0.1;
  --opacity_20: 0.2;
  --opacity_30: 0.3;
  --opacity_40: 0.4;
  --opacity_50: 0.5;
  --opacity_60: 0.6;
  --opacity_70: 0.7;
  --opacity_80: 0.8;
  --opacity_90: 0.9;
  --opacity_100: 1;

  --dark_background: 13, 13, 13;
  --light_background: 250, 245, 245;
  --dark_forground: 30, 30, 30;
  --light_forground: 240, 235, 235;
  --dark_color: 0, 0, 0;
  --light_color: 255, 255, 255;
  --special_color: 0, 108, 250;
  /* --special_element_color: 103 58 111; */
  /* --special_element_color: 186, 104, 200; */

  --mobile_menu_cover_image: url(../src/grid.jpg);
}

/* font-family: 'Great Vibes', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Tilt Prism', cursive;
font-family: 'Yuji Hentaigana Akari', cursive; */

/* end refrens style */

/*---------------------------------------------------------------------------------------------*/

/* start Global style */

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  font-size: 50%;
  font-family: Roboto, sans-serif;
}

body {
  background-color: rgb(var(--background_color));
  color: rgb(var(--text_primary_color));
}

body.dark_mode {
  --background_color: var(--dark_background);
  --forground_color: var(--dark_forground);
  --text_primary_color: var(--light_color);
  --text_secondry_color: var(--dark_color);
  --special_element_color: var(--special_color);
}

body.light_mode {
  --background_color: var(--light_background);
  --forground_color: var(--light_forground);
  --text_primary_color: var(--dark_color);
  --text_secondry_color: var(--light_color);
  --special_element_color: var(--special_color);
}

span {
  color: rgb(var(--special_element_color));
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  border-radius: 4rem;
  background-color: transparent;
  border: 2px solid rgb(var(--special_element_color));
  font-size: 1.6rem;
  color: rgb(var(--text_primary_color));
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  color: rgb(var(--text_secondry_color));
  background-color: rgb(var(--special_element_color));
}

.section_heading {
  text-align: center;
  font-size: 4.5rem;
}

.language_change_btn,
.my_theme_toggle_button,
.mobile_menu_close {
  cursor: pointer;
}

/* end Global style */

/*---------------------------------------------------------------------------------------------*/

/* start header style */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: rgb(var(--background_color));
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header.sticky {
  background-color: rgba(var(--background_color), var(--opacity_50));
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.brand_logo {
  font-family: "Great Vibes";
  font-size: 2.5rem;
  color: rgb(var(--text_primary_color));
  cursor: default;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.brand_logo span {
  font-size: 3rem;
  color: rgb(var(--special_element_color));
}

#mobile_menu_trigger {
  font-size: 3.6rem;
  color: rgb(var(--text_primary_color));
  display: none;
}

/* .navbar {} */

.navbar a,
.navbar span i {
  font-size: 1.7rem;
  color: rgb(var(--text_primary_color));
  margin-left: 4rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(var(--special_element_color));
  font-size: 2rem;
  font-weight: 700;
}

#mobile_menu_trigger:hover,
#mobile_menu_trigger:active,
.navbar span i:hover,
.navbar span i:active {
  color: rgb(var(--special_element_color));
}

/* end header style */

/*---------------------------------------------------------------------------------------------*/

/* start drop down language style */

.my_language_list_drop_down {
  max-width: 200px;
  height: 214px;
  position: fixed;
  display: none;
  background: rgb(var(--background_color));
  z-index: 1000;
  border: 1px solid rgb(var(--text_primary_color));
  padding: 1px;
  border-radius: 5px;
  color: rgb(var(--text_primary_color));
  box-shadow: 0 0 0.5rem 0.1rem
    rgba(var(--text_primary_color), var(--opacity_50));
}

.my_language_list_drop_down::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 0;
  transform: translateY(-50%) rotate(45deg);
  border: 8px solid;
  border-color: white;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
  transition: all ease-in-out 0.2s;
  box-shadow: -1px -1px 0 0 black;
}

.my_language_list_drop_down ul {
  width: 100%;
  height: 210px;
  overflow: scroll;
  color: inherit;
  list-style: none;
  border-radius: 5px;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.my_language_list_drop_down ul::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.my_language_list_drop_down ul .divider {
  width: 100%;
  height: 1px;
  background-color: grey;
}

.my_language_list_drop_down ul li {
  display: flex;
  justify-content: space-between;
  line-height: 35px;
  background-color: rgb(var(--background_color));
  color: inherit;
  padding: 0 20px;
  width: 200px;
}

.my_language_list_drop_down ul li:hover {
  background-color: rgb(var(--forground_color));
  color: rgb(var(--special_element_color));
}

.my_language_list_drop_down ul li span {
  color: inherit;
  font-size: 2rem;
}

.my_language_list_drop_down ul li span:last-child {
  box-shadow: 0 0 0 1px rgba(var(--text_primary_color), var(--opacity_50));
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  background-size: cover !important;
  margin: 10px 0 !important;
}

/* end drop down language style */

/*---------------------------------------------------------------------------------------------*/

/* start sidenav style */

.my_sidenav {
  position: fixed;
  width: 320px;
  left: 0;
  top: 0;
  margin: 0;
  height: 100%;
  padding-bottom: 3rem;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateX(-105%);
  background-color: rgb(var(--background_color)) !important;
  transition: 0.5s ease;
}
.my_sidenav.active {
  transform: translateX(0);
}

.my_mobile_menu_cover {
  position: relative;
  padding: 2rem 2rem 0;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid black;
  box-shadow: 0 0 0.5rem 0.1rem black !important;
}

.my_mobile_menu_cover_background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.my_mobile_menu_cover_image {
  width: 100%;
  height: 100%;
  background: var(--mobile_menu_cover_image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.my_mobile_menu_cover_shade {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.my_mobile_menu_profile {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.my_mobile_menu_profile img {
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
}

.my_mobile_menu_profile span {
  color: white;
  line-height: 0;
  font-size: 2rem;
}

.my_mobile_menu_profile span i {
  font-size: inherit !important;
  margin-left: 1rem;
}

.my_mobile_menu_title {
  margin-bottom: 1.1rem;
}

.my_mobile_menu_title h1,
.my_mobile_menu_title h2 {
  color: white;
  display: block;
}

.my_mobile_menu_title h1 {
  font-size: 2.3rem;
}

.my_mobile_menu_title h1 p,
.my_mobile_menu_title h2 p {
  font-size: 1.6rem;
  font-weight: normal;
}

/* .my_mobile_menu_links {} */

.my_mobile_menu_links h1 {
  display: block;
  line-height: 48px;
}

.my_mobile_menu_links h1 a {
  font-size: 1.8rem;
  color: rgb(var(--text_primary_color));
  display: block;
  line-height: 48px;
  padding: 0 2.5rem;
  letter-spacing: 0.1rem;
  cursor: default;
}

.my_mobile_menu_links ul {
  list-style: none;
}

.my_mobile_menu_links ul li {
  float: none;
  line-height: 48px;
  transform: translateX(-300%);
  transition: 0.5s ease;
}

.my_sidenav.active .my_mobile_menu_links ul li {
  transform: translateX(0);
}

.my_mobile_menu_links ul li:hover,
.my_mobile_menu_links ul li:active,
.my_mobile_menu_links ul li:focus {
  background-color: rgb(var(--forground_color), var(--opacity_20));
  border-right: 4px solid rgb(var(--special_element_color));
}

.my_mobile_menu_links ul li a {
  font-size: 1.7rem;
  color: rgb(var(--text_primary_color));
  text-decoration: none;
  padding: 0 2.5rem;
  cursor: pointer;
  display: block;
  font-weight: 500;
}

.my_mobile_menu_links ul li:hover a,
.my_mobile_menu_links ul li:focus a,
.my_mobile_menu_links ul li:active a {
  color: rgb(var(--special_element_color));
  font-size: 2rem;
  padding-left: 3rem;
  letter-spacing: 0.1rem;
}

.my_mobile_menu_links ul li a.active {
  color: rgb(var(--special_element_color));
  font-size: 2rem;
  padding-left: 3rem;
  letter-spacing: 0.1rem;
}

.my_mobile_menu_links ul li a i {
  color: rgb(var(--text_primary_color));
  margin: 0 1rem;
  font-size: 1.9rem !important;
  width: 2rem;
  float: left;
  height: 48px;
  line-height: 48px;
}

body.persian .my_mobile_menu_links {
  text-align: right;
}

body.persian .my_mobile_menu_links ul li a i {
  float: right;
}

/* end sidenav style */

/*---------------------------------------------------------------------------------------------*/

/* start Hero section style */

.hero_section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--background_color));
}

.hero_section_content {
  padding-right: 5rem;
}

body.persian .hero_section_content {
  direction: rtl;
}

body.persian .hero_section_content span {
  font-family: monospace;
}

.hero_section_content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.multiple_text_EN_container {
  display: none;
}

body.english .multiple_text_EN_container {
  margin-bottom: 2rem;
  display: block !important;
}

.multiple_text_IR_container {
  display: none;
}

body.persian .multiple_text_IR_container {
  margin-bottom: 2rem;
  display: block !important;
}

.multiple_text_JP_container {
  display: none;
}

body.japanes .multiple_text_JP_container {
  margin-bottom: 2rem;
  display: block !important;
}

.multiple_text_KR_container {
  display: none;
}

body.korean .multiple_text_KR_container {
  margin-bottom: 2rem;
  display: block !important;
}

.typed-cursor {
  color: rgb(var(--text_primary_color)) !important;
}

.hero_section_content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.hero_section_content p {
  font-size: 2rem;
  text-align: justify;
  margin-bottom: 3rem;
}

.hero_section_content a.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 220px;
  font-size: 1.6rem;
}

.hero_section_content a.btn i {
  font-size: 1.7rem;
}

.hero_section_image img {
  width: 35vw;
  transform: rotateY(180deg);
  /* animation: float_image 4s ease-in-out infinite; */
}

/* end Hero section style */

/*---------------------------------------------------------------------------------------------*/

/* start About section style */

.about_section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgb(var(--forground_color));
}

.about_section_image img {
  width: 35vw;
}

.about_section_content {
  padding-left: 5rem;
}

#about_section_paragraph_second {
  display: none;
}

body.persian .about_section_content {
  direction: rtl;
}

.about_section_content h2 {
  text-align: left;
  line-height: 1.2;
}

body.persian .about_section_content h2 {
  text-align: right;
}

.about_section_content h3 {
  font-size: 2.6rem;
}

.about_section_content p {
  text-align: justify;
  font-size: 2rem;
  margin: 2rem 0 3rem;
}

/* end About section style */

/*---------------------------------------------------------------------------------------------*/

/* start Service section style */

.services_section {
  padding: 10rem 9%;
  background-color: rgb(var(--background_color));
}

.services_section h2 {
  margin-bottom: 5rem;
}

.services_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services_container .services_box {
  flex: 1 1 30rem;
  background-color: rgb(var(--forground_color));
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid rgb(var(--forground_color));
  transition: 0.5s ease;
}

.services_container .services_box:hover {
  border-color: rgb(var(--special_element_color));
  transform: scale(1.02);
}

.services_box i {
  font-size: 7rem;
  color: rgb(var(--special_element_color));
}

.services_box h3 {
  font-size: 2.6rem;
}

.services_box p {
  font-size: 2rem;
  margin: 1rem 0 3rem;
}

/* end Service section style */

/*---------------------------------------------------------------------------------------------*/

/* start Work section style */

.works_section {
  padding: 10rem 9%;
  background-color: rgb(var(--forground_color));
}

.works_section h2 {
  margin-bottom: 3rem;
}

.works_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

body.persian .works_container {
  direction: rtl;
}

.works_container .works_box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgb(var(--text_primary_color));
  overflow: hidden;
  display: flex;
}

.works_box img {
  width: 100%;
  transition: 0.5s ease;
}

.works_box:hover img {
  transform: scale(1.1);
}

.works_box .works_layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(var(--background_color), var(--opacity_80)),
    rgb(var(--special_element_color))
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 5rem 4rem 0;
  transform: translateY(100%);
  transition: 0.5s ease;
  color: rgb(var(--text_primary_color));
}

.works_box:hover .works_layer {
  transform: translateY(0);
}

.works_layer h4 {
  font-size: 2rem;
}

.works_layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0;
}

.works_layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  color: inherit !important;
}

.works_layer a i {
  font-size: 2rem;
  color: inherit !important;
}

/* end Work section style */

/*---------------------------------------------------------------------------------------------*/

/* start Contact section style */

.contact_section {
  padding: 10rem 9%;
  background-color: rgb(var(--background_color));
}

.contact_section h2 {
  margin-bottom: 3rem;
}

.contact_section form {
  max-width: 100rem;
  margin: 0 auto;
  text-align: center;
}

.contact_section form .input_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact_section form .input_box input,
.contact_section form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.3rem;
  color: rgb(var(--text_primary_color));
  background-color: rgb(var(--forground_color));
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact_section form .input_box input {
  width: 49%;
}

.contact_section form textarea {
  overflow: scroll;
  text-align: justify;
  resize: none;
  margin-bottom: 2rem;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.contact_section form textarea::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.contact_form_success_message_box {
  font-size: 1.5rem;
  padding: 3rem;
  width: 300px;
  margin: 0 auto;
  background: #a9ff53;
  border-radius: 1rem;
  margin-bottom: 2rem;
  display: none;
  transition: 0.5s ease;
}

.contact_form_success_message_box.active {
  display: block;
}

.contact_form_error_message_box {
  font-size: 1.5rem;
  padding: 3rem;
  width: 300px;
  margin: 0 auto;
  background: #ff5353;
  border-radius: 1rem;
  margin-bottom: 2rem;
  display: none;
  transition: 0.5s ease;
}

.contact_form_error_message_box.active {
  display: block;
}

.contact_section form .btn {
  cursor: pointer;
}

/* end Contact section style */

/*---------------------------------------------------------------------------------------------*/

/* start Footer section style */

.footer_section {
  padding: 2rem 9% 0;
  background-color: rgb(var(--forground_color));
}

.my_footer_content {
  width: 100%;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  padding: 2rem 0;
}

.my_footer_address,
.my_footer_links {
  text-align: center;
  width: 100%;
}

.my_footer_address a {
  margin: 2rem 1rem;
}

.my_footer_address p {
  margin-bottom: 2rem;
  display: block;
  font-size: 1.5rem;
}

.my_footer_links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid rgb(var(--special_element_color));
  border-radius: 50%;
  font-size: 2rem;
  color: rgb(var(--special_element_color));
  margin: 3rem 1rem;
  transition: 0.5s ease;
}

.my_footer_links a:hover {
  background-color: rgb(var(--special_element_color));
  color: rgb(var(--background_color));
  box-shadow: 0 0 1rem rgb(var(--special_element_color));
}

.my_footer_copyright {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.my_footer_copyright h3 {
  color: rgb(var(--text_primary_color));
  font-size: 1.7rem;
}

.my_footer_copyright h3 span {
  color: rgb(var(--special_element_color));
}

/* end Footer section style */

.sidenav_overlay {
  position: fixed;
  height: 120vh;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgb(0, 0, 0, var(--opacity_70));
  z-index: 997;
  backdrop-filter: blur(10px);
  display: none;
  opacity: 0;
}
.sidenav_overlay.active {
  display: block;
  opacity: 1;
}

/*---------------------------------------------------------------------------------------------*/

/* start Animations Key Fraims style */

@keyframes float_image {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

/* end Animations Key Fraims style */

/*---------------------------------------------------------------------------------------------*/

/* start Media Query's style */

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .hero_section_image img {
    width: 90vw;
  }
  .about_section_image img {
    width: 90vw;
  }
  .contact_section form .input_box input {
    width: 100%;
  }
}

@media (max-width: 620px) {
  .works_container {
    grid-template-columns: 1fr !important;
  }
}

@media (max-width: 768px) {
  #mobile_menu_trigger {
    display: block;
  }
  .navbar {
    display: none;
  }
  .hero_section {
    flex-direction: column;
  }
  .hero_section_content h3 {
    font-size: 2.6rem;
  }
  .hero_section_content h1 {
    font-size: 5rem;
  }
  .hero_section_image img {
    width: 70vw;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .about_section {
    flex-direction: column-reverse;
  }
  .about_section_image img {
    width: 70vw;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .services_section h2 {
    margin-bottom: 3rem;
  }
  .works_section h2 {
    margin-bottom: 3rem;
  }
  .works_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .my_footer_content {
    flex-direction: column-reverse;
  }
}

@media (max-width: 992px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .services_section {
    padding-bottom: 7rem;
  }
  .works_section {
    padding-bottom: 7rem;
  }
  .contact_section {
    min-height: auto;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

/* `sm` applies to small devices (phones <= 600px) */
/* @media only screen and (max-width: 600px) {
} */

/* `md` applies to medium devices (phones or tablets, betwean 601px ~ 992px) */
/* @media only screen and (min-width: 601px) and (max-width: 992px) {
} */

/* `lg` applies to large devices (tablets, betwean 993px ~ 1200px) */
/* @media only screen and (min-width: 993px) and (max-width: 1200px) {
} */

/* `xl` applies to xtra large devices (desktops > 1200px) */
/* @media only screen and (min-width: 1201px) {
} */

/* end Media Query's style */

/*---------------------------------------------------------------------------------------------*/
