:root {
  --opacity-0: 0;
  --opacity-1: 0.1;
  --opacity-2: 0.2;
  --opacity-3: 0.3;
  --opacity-4: 0.4;
  --opacity-5: 0.5;
  --opacity-6: 0.6;
  --opacity-7: 0.7;
  --opacity-8: 0.8;
  --opacity-9: 0.9;
  --opacity-10: 1;
  --dark-60: rgb(31, 31, 31);
  --dark-30: rgb(61, 61, 61);
  --dark-10: rgb(230, 230, 230);
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

body.dark-mode {
  --primary-color: 0, 0, 0;
  --secondry-color: 224, 224, 224;
  --deActive-special-text-color: 0, 86, 199;
  --active-special-text-color: 0, 108, 250;
  --text-color: 192, 192, 192;
}

body.light-mode {
  --primary-color: 224, 224, 224;
  --secondry-color: 0, 0, 0;
  --deActive-special-text-color: 0, 108, 250;
  --active-special-text-color: 0, 86, 199;
  --text-color: 34, 34, 34;
}

button,
button:hover,
button:active,
button:focus {
  box-shadow: none !important;
  border: unset !important;
  border-color: unset !important;
}

.navbar.fixed-top {
  padding: 0 !important;
  background-color: rgba(var(--primary-color), var(--opacity-7)) !important;
  width: 100% !important;
}

.navbar-brand {
  margin: 0;
  color: rgb(var(--text-color));
}

.my-navbar-toggler-button {
  padding: 0;
  color: rgb(var(--text-color));
}

.offcanvas.offcanvas-start {
  height: 100% !important;
  width: 320px !important;
  background-color: rgba(var(--primary-color), var(--opacity-7)) !important;
}

.offcanvas-header {
  margin-bottom: 10px;
  padding: 0;
}

.my-navbar-close-button {
  background: unset;
  color: rgb(var(--text-color));
  padding: 0;
}

.my-profile-image {
  margin: 0 auto;
}

.my-profile-image img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 100%;
  border: 1px solid rgb(var(--text-color)) !important;
}

.my-profile-name h5 {
  text-align: center;
  display: block;
  width: 100%;
  font-family: "Playfair Display", Georgia, serif;
  color: rgb(var(--text-color));
  font-weight: 900 !important;
  font-size: 25px;
  margin-bottom: 0.5em;
}

.my-profile-title h5 {
  text-align: center;
  display: block;
  margin-bottom: 2em;
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(var(--text-color));
}

.my-profile-title h5 span {
  color: rgb(var(--active-special-text-color));
}

.accordion {
  --bs-accordion-color: rgb(var(--deActive-special-text-color));
  --bs-accordion-bg: none;
  --bs-accordion-border-color: none;
  --bs-accordion-border-width: 0;
  --bs-accordion-border-radius: 0;
  --bs-accordion-inner-border-radius: 0;
  --bs-accordion-btn-color: rgb(var(--deActive-special-text-color));
  --bs-accordion-btn-bg: none;
  --bs-accordion-btn-focus-border-color: none;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-active-color: rgb(var(--active-special-text-color));
  --bs-accordion-active-bg: none;
}

.my-switch-input {
  float: right !important;
}

.my-language-en-switch,
.my-language-ir-switch,
.my-theme-switch {
  padding: 0 50px;
  text-align: left;
}

.my-sidebar-footer {
  width: 100%;
  text-align: center;
  bottom: 0 !important;
  position: absolute;
}

.my-sidebar-footer p {
  color: rgb(var(--text-color));
}

.my-sidebar-footer p span {
  color: rgb(var(--active-special-text-color));
}

.my-content-area {
  width: 100%;
  height: 100%;
}

.my-content-area .my-section {
  width: 100%;
  height: 650px;
}

.my-hero-section {
  background: url(../src/banner.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-hero-section-banner-shade {
  background-color: rgba(var(--primary-color), var(--opacity-8)) !important;
  /* background: radial-gradient(transparent, var(--primary-color)) !important; */
  width: 100%;
  height: 100%;
}

.my-hero-section-banner-content {
  width: 100%;
  height: 100%;
  display: table;
  padding-top: 50px;
}

.my-hero-section-banner-content-body {
  display: table-cell;
  vertical-align: middle;
  /* padding: 150px;
  position: relative; */
}

.my-hero-section-banner-content-body h1 {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 1.5;
  font-weight: 500;
  color: rgb(var(--text-color));
  font-family: "Playfair Display", Georgia, serif;
}

.my-hero-section-banner-content-body h2 {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: 300;
  font-family: "Quicksand", Arial, sans-serif;
  color: rgb(var(--text-color));
}

#my-hero-section-banner-content-body-hi-span {
  animation: hi 3000ms;
}

#my-hero-section-banner-content-body-im-span {
  animation: im 3000ms;
}

#my-hero-section-banner-content-body-pz-span {
  animation: pz 3000ms;
}

#my-hero-section-banner-content-body-detail-span {
  animation: detail 3000ms;
}

#my-hero-section-banner-content-body-hi-span,
#my-hero-section-banner-content-body-im-span,
#my-hero-section-banner-content-body-pz-span,
#my-hero-section-banner-content-body-detail-span {
  position: relative;
}

.my-about-section {
  letter-spacing: 5px !important;
  font-size: 10px !important;
  font-weight: 700 !important;
  font-family: system-ui !important;
  text-transform: uppercase !important;
}

@keyframes hi {
  from {
    opacity: 0;
    top: -50px;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes im {
  from {
    opacity: 0;
    left: -50px;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes pz {
  from {
    opacity: 0;
    left: 50px;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes detail {
  from {
    opacity: 0;
    bottom: -50px;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

/* `xs` applies to small devices (portrait phones, betwean 320px ~ 575px) */
@media only screen and (min-width: 320px) and (max-width: 575px) {
  .container-fluid {
    padding: 0 0 0 10px;
  }
  .my-navbar-toggler-button {
    width: 50px;
    height: 50px;
  }
  .my-navbar-toggler-button svg {
    width: 25px;
    height: 25px;
  }
  .navbar-brand {
    font-size: 16px;
  }
  .my-navbar-close-button {
    width: 50px;
    height: 50px;
  }
  .my-navbar-close-button svg {
    width: 20px;
    height: 20px;
  }
  .my-profile-image {
    width: 80px;
    height: 80px;
  }
}
/* `sm` applies to small devices (portrait phones, betwean 576px ~ 767px) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container-fluid {
    padding: 0 10px 0 20px;
  }
  .my-navbar-toggler-button {
    width: 50px;
    height: 50px;
  }
  .my-navbar-toggler-button svg {
    width: 25px;
    height: 25px;
  }
  .navbar-brand {
    font-size: 18px;
  }
  .my-navbar-close-button {
    width: 50px;
    height: 50px;
  }
  .my-navbar-close-button svg {
    width: 20px;
    height: 20px;
  }
  .my-profile-image {
    width: 95px;
    height: 95px;
  }
}

/* `md` applies to medium devices (landscape phones, betwean 768px ~ 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    padding: 0 20px 0 30px;
  }
  .my-navbar-toggler-button {
    width: 50px;
    height: 50px;
  }
  .my-navbar-toggler-button svg {
    width: 30px;
    height: 30px;
  }
  .navbar-brand {
    font-size: 20px;
  }
  .my-navbar-close-button {
    width: 50px;
    height: 50px;
  }
  .my-navbar-close-button svg {
    width: 25px;
    height: 25px;
  }
  .my-profile-image {
    width: 110px;
    height: 110px;
  }
}
/* `lg` applies to medium devices (tablets, betwean 992px ~ 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container-fluid {
    padding: 0 30px 0 40px;
  }
  .my-navbar-toggler-button {
    width: 50px;
    height: 50px;
  }
  .my-navbar-toggler-button svg {
    width: 30px;
    height: 30px;
  }
  .navbar-brand {
    font-size: 22px;
  }
  .my-navbar-close-button {
    width: 50px;
    height: 50px;
  }
  .my-navbar-close-button svg {
    width: 25px;
    height: 25px;
  }
  .my-profile-image {
    width: 125px;
    height: 125px;
  }
}

/* `xl` applies to large devices (desktops, betwean 1200px ~ 1399px) */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .container-fluid {
    padding: 0 40px 0 50px;
  }
  .my-navbar-toggler-button {
    width: 50px;
    height: 50px;
  }
  .my-navbar-toggler-button svg {
    width: 35px;
    height: 35px;
  }
  .navbar-brand {
    font-size: 24px;
  }
  .my-navbar-close-button {
    width: 50px;
    height: 50px;
  }
  .my-navbar-close-button svg {
    width: 30px;
    height: 30px;
  }
  .my-profile-image {
    width: 140px;
    height: 140px;
  }
}
/* `xxl` applies to large devices (large desktops, higher than 1400px) */
@media only screen and (min-width: 1400px) {
  .container-fluid {
    padding: 0 50px 0 60px;
  }
  .my-navbar-toggler-button {
    width: 50px;
    height: 50px;
  }
  .my-navbar-toggler-button svg {
    width: 35px;
    height: 35px;
  }
  .navbar-brand {
    font-size: 26px;
  }
  .my-navbar-close-button {
    width: 50px;
    height: 50px;
  }
  .my-navbar-close-button svg {
    width: 30px;
    height: 30px;
  }
  .my-profile-image {
    width: 155px;
    height: 155px;
  }
}
